:root {
    --text: #2E3440;
    --select: #E5E9F0;
    --shadow: #D8DEE9;
}

body {
    margin: 0 10px;
}

.section {
    margin: auto auto 25px auto;
    width: 100%;
    max-width: 960px;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
    resize: none;
    user-select: none;
    font-size: 14px;
    color: var(--text);
    border-radius: 4px;
    transition: 0.15s;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
}

button, select {
    border: 1px solid transparent;
    background-color: var(--select);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}

button:hover, select:hover {
    border-color: var(--text) !important;
}

button:active, select:active {
    color: #FFF !important;
    background-color: var(--text) !important;
}

button:active * {
    color: #FFF !important;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

hr {
    height: 2px;
    background-color: var(--select);
    margin-bottom: 25px;
}

a {
    border: 1px dashed transparent;
    cursor: pointer;
    padding: 3px 6px;
    text-decoration: underline;
}

a:hover {
    border-color: var(--text);
}

a:active {
    transform: scale(1.15);
}

textarea {
    border: 1px solid var(--select);
    text-align: left;
}

textarea:read-only {
    border-color: var(--select);
    background-color: var(--select);
}

textarea:read-write:hover, textarea:read-write:focus {
    border-color: var(--fore);
}

.list {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    overflow-y: auto;
    box-shadow: inset 0px 0px 5px var(--shadow);
}

.list>* {
    margin: 0;
    width: 100%;
    height: 25px;
}

.list>button {
    border: none;
    border-radius: 0;
    place-content: flex-start;
    background-color: transparent;
}

.list>button:hover {
    background-color: var(--select);
}

.card {
    width: 100%;
    margin: 5px 0 5px 0;
    box-shadow: 0px 0px 10px var(--shadow);
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card>* {
    margin: 5px 0;
}

.card>*:first-child {
    margin-top: 0;
}

.card>*:last-child {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--select);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}
