:root {
    --color-active: #e1e4e8;
    --color-hover: #d1d5da;
    --color-press: #f6f8fa;
}

button, select, a {
    user-select: none;
    cursor: pointer;
}

button, select {
    background-color: var(--color-active);
    display: flex;
    place-items: center;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}

button>.material-icons-outlined {
    margin-right: 5px;
}

button:hover, select:hover {
    background-color: var(--color-hover);
    box-shadow: var(--shadow-small);
}

button:active, select:active {
    background-color: var(--color-press);
}

.list button {
    background-color: transparent;
    height: 25px;
    border-radius: 0;
    box-shadow: none;
}

.list button:hover {
    background-color: var(--color-active);
}

.list button:active {
    background-color: var(--color-hover);
}

button.inline {
    background-color: transparent;
    border: solid 1px var(--color-active);
    border-radius: 12px;
    margin: 0 5px 0 0;
    height: 20px;
    padding: 0 10px 0 5px;
}

a {
    border: 1px dashed transparent;
    padding: 3px 6px;
    text-decoration: underline;
}

a:hover {
    border-color: var(--text);
}

a:active {
    transform: scale(1.15);
}

textarea {
    background-color: var(--back);
    border: 1px solid var(--select);
    text-align: left;
}

textarea:read-only {
    border-color: var(--select);
    background-color: var(--select);
}

textarea:read-write:hover, textarea:read-write:focus {
    border-color: var(--fore);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-active);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover);
}