* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: 2px;
    transition: 0.15s;
    border: 0;
    background-color: transparent;
}

body {
    margin: 0 10px 10px 10px;
    background-color: var(--color-background);
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--color-active);
}

.section {
    margin: auto auto 20px auto;
    width: 100%;
    max-width: 960px;
}

.section:last-child {
    margin: auto auto 0 auto;
}

.card {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card:last-child {
    margin: 0;
}

.card>* {
    margin: 0 0 5px 0;
}

.card>*:last-child {
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

.list>* {
    margin: 0;
    width: 100%;
}
