button, select, a {
    user-select: none;
    cursor: pointer;
}

button, select {
    background-color: var(--color-active);
    display: flex;
    place-items: center;
    height: var(--control-height);
    padding: 0 var(--margin-double);
}

button>.material-icons-outlined:not(:last-child) {
    margin-right: var(--margin);
}

button:hover, select:hover {
    background-color: var(--color-hover);
}

button:active, select:active {
    background-color: var(--color-press);
}

.list button {
    height: var(--control-height-small);
    border-radius: 0;
    box-shadow: none;
}

button.inline {
    font-size: var(--font-size-small);
    background-color: transparent;
    border: solid var(--border-width) var(--color-active);
    margin: 0 var(--margin) 0 0;
    height: var(--control-height-small);
    padding: 0 var(--margin);
}

button.inline:hover {
    border-color: var(--color-hover);
    background-color: var(--color-hover);
}

button.inline:active {
    border-color: var(--color-press);
    background-color: var(--color-press);
}

button.inline>.material-icons-outlined {
    margin-right: var(--margin)
}

a {
    display: flex;
    place-items: center;
    color: var(--color-select);
    text-decoration: underline;
    padding: var(--margin)
}

a:hover {
    background-color: var(--color-hover);
}

a:active {
    color: var(--color-text)
}

textarea, input[type=text] {
    border: var(--border-width) solid var(--color-hover);
    text-align: left;
}

input[type=text] {
    border-width: 0 0 var(--border-width) 0;
    height: var(--control-height);
    padding: 0 var(--margin-double);
}

textarea:read-write:hover, textarea:read-write:focus, input[type=text]:read-write:hover, input[type=text]:read-write:focus {
    border-color: var(--color-select);
}

::-webkit-scrollbar {
    width: var(--margin);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-active);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-press);
}
