:root {
    --border-radius: 4px;
    --border-width: 2px;
    --margin-half: 2px;
    --margin: 4px;
    --margin-double: 8px;
    --margin-large: 16px;
    --control-height: 32px;
    --control-height-small: 24px;
    --max-width: 960px;
}
