:root {
    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-large: 20px;
    --font-size-title: 32px;
    --font-size-icon: 16px;
}

* {
    font-size: var(--font-size);
    color: var(--color-text);
    font-family: 'Fira Sans', sans-serif, 'Segoe UI Emoji';
}

.material-icons-outlined {
    font-size: var(--font-size-icon) !important;
}

.txt-caption, .txt-caption * {
    font-style: italic;
    font-size: var(--font-size-small);
}

.txt-faded, .txt-faded * {
    color: var(--color-text-faded);
}

h1, h1 * {
    font-size: var(--font-size-title);
    font-weight: bold;
}

h2, h2 * {
    font-size: var(--font-size-large);
    font-weight: bold;
}

h3, h3 * {
    font-size: var(--font-size);
    font-weight: bold;
}
