:root {
    --color-text: #24292e;
    --color-text-faded: #959da5;
}

* {
    font-size: 14px;
    color: var(--color-text);
    font-family: 'Fira Sans', sans-serif, 'Segoe UI Emoji';
}

.material-icons-outlined {
    font-size: 16px !important;
}

.txt-caption, .txt-caption * {
    font-style: italic;
    font-size: 12px;
}

.txt-faded, .txt-faded * {
    color: var(--color-text-faded);
}

h1, h1 * {
    font-size: 20px;
    font-weight: bold;
}

h2, h2 * {
    font-size: 18px;
    font-weight: bold;
}

h3 * {
    font-size: 14px;
    font-weight: bold;
}