:root {
  --colored-0: #2196f3;
  --colored-1: #4caf50;
  --colored-2: #f44336;
  --colored-3: #ffc107;
  --colored-4: #9c27b0;
  --colored-5: #00bcd4;
  --colored-6: #795548;
}
@media (prefers-color-scheme: dark) {
  :root {
    --colored-0: #64b5f6;
    --colored-1: #81c784;
    --colored-2: #e57373;
    --colored-3: #ffd54f;
    --colored-4: #ba68c8;
    --colored-5: #4dd0e1;
    --colored-6: #a1887f;
  }
}

@for $i from 0 through 6 {
  $color: var(--colored-#{$i});

  .colored-#{$i},
  .colored-#{$i} * {
    color: $color;
  }
  .colored-back-#{$i} {
    background-color: $color;
  }
  *[class*="colored-border-"] {
    border: solid $border-width transparent;
  }
  .colored-border-#{$i} {
    border: solid $border-width $color !important;
  }
  .colored-dot-#{$i}::first-letter,
  .colored-dot-#{$i} *:not(.icon)::first-letter {
    color: $color;
    font-weight: bold;
  }
}
