@for $i from 0 through 6 {
    $color: var(--colored-#{$i});

    .colored-#{$i} {
        color: $color;
    }
    .colored-back-#{$i} {
        background-color: $color;
    }
    .colored-dot-#{$i}::first-letter {
        font-weight: bold;
        color: $color;
    }
}
