button,
select,
a {
  user-select: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

button,
select {
  &:disabled {
    @extend .text-faded;
  }
  @extend .row;

  background-color: var(--color-active);
  height: map-get($button-height, "normal");
  min-height: map-get($button-height, "normal");
  padding: 0 map-get($margins, "normal");

  &.small,
  .small & {
    height: map-get($button-height, "small");
    min-height: map-get($button-height, "small");
  }
  &:not(:disabled) {
    &:hover {
      background-color: var(--color-hover);
    }
    &:active {
      background-color: var(--color-press);
    }
  }
}

select {
  flex: 1;
  option {
    background-color: var(--color-background);
  }
}

textarea,
input[type="text"] {
  text-align: left;
  border: $border-width solid var(--color-active);
  &:read-write {
    border-bottom-width: $border-width;
    &:hover,
    &:focus {
      border-bottom-color: var(--color-highlight);
    }
  }
}

textarea {
  padding: map-get($margins, "normal");
  &:read-write {
    background-color: var(--color-foreground);
  }
}

input[type="text"] {
  min-width: 0;
  width: 100%;

  height: map-get($button-height, "normal");
  padding: 0 map-get($margins, "normal");

  &.small,
  .small & {
    height: map-get($button-height, "small");
    min-height: map-get($button-height, "small");
  }

  &.selectable {
    &:not(:focus, :hover) {
      border-left-color: var(--color-highlight);
    }
    &:read-only {
      @extend button;
      border-color: transparent;
    }
  }
}

a {
  padding: 0 map-get($margins, "normal");
  position: relative;
  text-decoration: var(--color-highlight) underline;
  line-height: map-get($button-height, "small");
  &:hover {
    background-color: var(--color-highlight-back);
  }
  &:active {
    color: var(--color-highlight);
  }
}
