* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: var(--border-radius);
    transition: 0.15s;
    border: 0;
    margin: 0;
    background-color: transparent;
}

body {
    margin: var(--margin-double);
    background-color: var(--color-background);
}

hr {
    height: var(--border-radius);
    background-color: var(--color-active);
}

.section,
hr {
    margin: auto auto var(--margin-large) auto;
    width: 100%;
    max-width: var(--max-width);

    &:last-child {
        margin: auto auto 0 auto;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    border-radius: var(--border-radius);
    > * {
        margin: 0;
        width: 100%;
    }
}
