button,
select,
a {
  user-select: none;
  cursor: pointer;
}

button,
select {
  &:disabled {
    @extend .text-faded;
  }

  @extend .panel-horizontal-dense;

  background-color: var(--color-active);
  height: map-get($button-height, "normal");
  padding: 0 map-get($margins, "normal");

  &.small,
  .small & {
    height: map-get($button-height, "small");
    min-height: map-get($button-height, "small");
  }
  &:not(:disabled):hover {
    background-color: var(--color-hover);
  }
  &:not(:disabled):active {
    background-color: var(--color-press);
  }
}

textarea,
input[type="text"] {
  text-align: left;
  box-shadow: map-get($shadows, "normal") inset;
  &:read-write {
    background-color: var(--color-foreground);
    border: 0 solid var(--color-active);
    border-bottom-width: $border-width;
    &:hover,
    &:focus {
      border-color: var(--color-highlight);
    }
  }
}

input[type="text"] {
  min-width: 0;
  width: 32px;

  height: map-get($button-height, "normal");
  padding: 0 map-get($margins, "normal");

  &.small,
  .small & {
    height: map-get($button-height, "small");
  }
}

a {
  padding: 0 map-get($margins, "normal");
  position: relative;
  text-decoration: var(--color-highlight) underline;
  line-height: map-get($button-height, "small");
  &:hover {
    background-color: var(--color-highlight-back);
  }
  &:active {
    color: var(--color-highlight);
  }
}
