%panel {
    display: flex;
    flex-wrap: nowrap;
    place-content: flex-start;
}

@mixin side-margin($parent, $side) {
    > *:not(:last-child) {
        margin-#{$side}: var(--margin-double);
    }
    &-dense {
        @extend #{$parent};
        > *:not(:last-child) {
            margin-#{$side}: var(--margin);
        }
    }
    &-sparse {
        @extend #{$parent};
        > *:not(:last-child) {
            margin-#{$side}: var(--margin-large);
        }
    }
}

.panel-vertical {
    @extend %panel;
    @include side-margin(".panel-vertical", bottom);
    flex-direction: column;
}
.panel-horizontal {
    @extend %panel;
    @include side-margin(".panel-horizontal", right);
    flex-direction: row;
}
