@mixin highlight($color) {
  &,
  * {
    color: var(--color-#{$color});
  }
  background-color: var(--color-#{$color}-back) !important;
}

.highlight {
  @include highlight("highlight");

  &-confirm {
    @include highlight("confirm");
  }
  &-alert {
    @include highlight("alert");
  }
}

@mixin highlight-font($color) {
  &,
  * {
    color: var(--color-#{$color});
  }
}

.highlight-font {
  @include highlight-font("highlight");

  &-confirm {
    @include highlight-font("confirm");
  }
  &-alert {
    @include highlight-font("alert");
  }
}

.highlight-outline {
  box-shadow: 0 -1 * $border-radius 0 0 var(--color-highlight);
  transform: translate(0, $border-radius);
}
