@mixin highlight($color) {
  &,
  * {
    color: var(--color-#{$color});
  }
  background-color: var(--color-#{$color}-back) !important;
}

.highlight {
  @include highlight("highlight");

  &-confirm {
    @include highlight("confirm");
  }
  &-alert {
    @include highlight("alert");
  }
}

@mixin highlight-font($color) {
  &,
  * {
    color: var(--color-#{$color});
  }
}

.highlight-font {
  @include highlight-font("highlight");

  &-confirm {
    @include highlight-font("confirm");
  }
  &-alert {
    @include highlight-font("alert");
  }
}

@mixin select($self) {
  &false {
    @extend #{$self};
    border-top-color: var(--color-press);
  }
  &true {
    @extend #{$self};
    border-top-color: var(--color-highlight);
  }
}

.select- {
  border-top: $border-radius solid;
  &dash- {
    @extend .select-;
    border-style: dashed;
    @include select(".select-dash-");
  }
  @include select(".select-");
}
