.icon {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-size: map-get($icon-sizes, "normal");

    &-small {
        @extend .icon;
        font-size: map-get($icon-sizes, "small");
    }
}
