.icon {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-size: map-get($font-sizes, "normal")-icon;

    &-small {
        @extend .icon;
        font-size: map-get($font-sizes, "normal")-icon-small;
    }
}
