textarea,
input[type="text"] {
    border: var(--border-width) solid var(--color-active);
    text-align: left;
    &:read-write {
        background-color: var(--color-foreground);
        &:hover,
        &:focus {
            border-color: var(--color-select);
        }
    }
}

input[type="text"] {
    height: var(--control-height);
    padding: 0 var(--margin-double);
}
