textarea,
input[type="text"] {
    text-align: left;
    box-shadow: $shadow inset;
    &:read-write {
        background-color: var(--color-foreground);
        border: 0 solid var(--color-active);
        border-bottom-width: $border-width;
        &:hover,
        &:focus {
            border-color: var(--color-highlight);
        }
    }
}

input[type="text"] {
    height: $control-height;
    padding: 0 map-get($margins, "double");
}
