%panel {
  display: flex;
  flex-wrap: nowrap;
}

@mixin last-margin($side, $size) {
  > :not(:last-child) {
    margin-#{$side}: map-get($margins, $size);
  }
}

@mixin density($parent, $side) {
  gap: map-get($margins, "normal");

  &-solid {
    @extend #{$parent};
    overflow: hidden;
    gap: 0;
    > * {
      border-radius: 0;
    }
  }

  &-dense {
    @extend #{$parent};
    gap: map-get($margins, "half");
  }

  &-sparse {
    @extend #{$parent};
    gap: map-get($margins, "double");
  }
}

.panel {
  @extend %panel;
  @include density(".panel", bottom);
  flex-direction: column;
}

.panel-horizontal {
  @extend %panel;
  @include density(".panel-horizontal", right);
  place-items: center;
  flex-direction: row;
}
