%panel {
  display: flex;
  flex-wrap: nowrap;
}

@mixin last-margin($side, $size) {
  > :not(:last-child) {
    margin-#{$side}: #{"$margin" +#{$size}};
  }
}

@mixin density($parent, $side) {
  @include last-margin($side, "-double");

  &-dense {
    @extend #{$parent};
    @include last-margin($side, "");
  }

  &-sparse {
    @extend #{$parent};
    @include last-margin($side, "-large)");
  }
}

.panel {
  @extend %panel;
  @include density(".panel", bottom);
  flex-direction: column;
}

.panel-horizontal {
  @extend %panel;
  @include density(".panel-horizontal", right);
  place-items: center;
  flex-direction: row;
}
