.scroll-y {
    overflow-y: auto;
}
.scroll-x {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: map-get($margins, "normal");
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-active);
    border-radius: $border-radius;
    border: map-get($margins, "quarter") solid var(--color-background);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover);
}
::-webkit-scrollbar-thumb:active {
    background: var(--color-press);
}
