::-webkit-scrollbar {
    width: var(--margin-large);
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-active);
    border-radius: var(--border-radius);
    border: var(--margin) solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-press);
}
