* {
  font-size: $font-size;
  color: var(--color-text);
  font-family: $font-family;
}

.text-caption,
.text-caption * {
  font-style: italic;
  font-size: $font-size-small;
}

.text-faded,
.text-faded * {
  color: var(--color-text-faded);
}

.text-ipa {
  font-family: sans-serif;
  line-height: 100%;
}

.text-spaced {
  word-spacing: map-get($margins, "normal");
}

h1,
h1 * {
  font-size: $font-size-title;
  font-weight: bold;
}

h2,
h2 * {
  font-size: $font-size-large;
  font-weight: bold;
}
