* {
  color: var(--color-text);
  font-size: map-get($font-sizes, "normal");
  font-family: $font-family;
}

.text-caption,
.text-caption * {
  font-size: map-get($font-sizes, "small");
}
.text-faded,
.text-faded * {
  color: var(--color-text-faded);
}
.text-ipa {
  font-style: normal;
  line-height: 125%;
  font-family: sans-serif;
  &::before,
  &::after {
    content: "/";
    color: var(--color-text-faded);
  }
}
.text-spaced {
  word-spacing: map-get($margins, "normal");
}

.text-dot {
  &::after {
    color: var(--color-text-faded);
    white-space: pre;
    font-weight: bold;
    content: " • ";
  }
  &:empty {
    @extend .text-dot;
    &::after {
      content: "•";
    }
  }
  &:last-child::after {
    display: none;
  }
}

.no-select {
  user-select: none;
}

h1,
h2 {
  @extend .no-select;
  flex: 1;
}
h1 {
  &,
  * {
    font-size: map-get($font-sizes, "large");
  }
}
h2 {
  &,
  * {
    font-size: map-get($font-sizes, "normal");
  }
}
