* {
  color: var(--color-text);
  font-size: map-get($font-sizes, "normal");
  font-family: $font-family;
  text-align: left;
}

.b,
.b * {
  font-weight: bold;
}

.text-caption,
.text-caption * {
  font-size: map-get($font-sizes, "small");
}
.text-faded {
  opacity: map-get($opacity, "text");
}

.text-center,
.text-center * {
  text-align: center;
}

.text-ipa,
.text-ipa * {
  font-style: normal;
  line-height: 125%;
  font-family: sans-serif;
}
.text-ipa:not(:empty) {
  &::before,
  &::after {
    content: "/";
    opacity: map-get($opacity, "text");
  }
}

.text-dot {
  &::after {
    opacity: map-get($opacity, "text");
    white-space: pre;
    font-weight: normal;
    content: " · ";
  }
  &:empty {
    @extend .text-dot;
    &::after {
      content: "·";
    }
  }
  &:last-child::after {
    display: none;
  }
}

.no-select {
  user-select: none;
}

h1 {
  @extend .no-select;
  &,
  * {
    font-weight: bold;
    font-size: map-get($font-sizes, "large");
  }
}
h2 {
  @extend .no-select;
  &,
  * {
    font-weight: bold;
    font-size: map-get($font-sizes, "normal");
    text-transform: capitalize;
  }
}

.icon {
  @extend .no-select;

  text-transform: none !important;
  font-family: "Material Icons Outlined" !important;
  font-weight: normal;
  font-size: map-get($icon-sizes, "normal");

  .small &,
  &.small {
    @extend .icon;
    font-size: map-get($icon-sizes, "small");
  }
}
