[tooltip] {
    position: relative;
    &:before {
        z-index: 2;
        font-style: italic;
        font-size: $font-size-small;
        border-radius: $border-radius;
        background-color: var(--color-foreground);
        box-shadow: $shadow-elevated;
        padding: map-get($margins, "quarter") map-get($margins, "normal");
        position: absolute;
        content: attr(tooltip);
        opacity: 0;
        top: 0;
        transition: $transition;
        pointer-events: none;
        width: max-content;
    }
    &:hover:before {
        opacity: 1;
        top: 3 * map-get($margins, "double");
    }
}
