[tooltip] {
    position: relative;
    &::before {
        z-index: 2;
        font-style: italic;
        font-size: map-get($font-sizes, "small");
        border-radius: $border-radius;
        background-color: var(--color-foreground);
        box-shadow: map-get($shadows, "elevated");
        padding: map-get($margins, "half") map-get($margins, "normal");
        content: attr(tooltip);
        position: absolute;
        pointer-events: none;
        transition: $transition;
        opacity: 0;

        left: 50%;
        top: -1 * map-get($margins, "double");
        transform: translate(-50%, 0);
        width: max-content;
    }
    &:hover::before {
        opacity: 1;
        top: -2 * map-get($margins, "double");
    }
}
