$border-radius: 2px;
$border-width: 2px;

$margins: (
    "half": 2px,
    "normal": 4px,
    "double": 8px,
    "large": 16px,
);

$control-height: 32px;
$control-height-small: 24px;

$shadow: 0 1px 2px var(--color-shadow);
$shadow-elevated: 0 2px 8px var(--color-shadow);

$max-width: 960px;
$mobile-width: 568px;

$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 20px;
$font-size-title: 32px;

$transition: 0.15s;

$font-size-icon: 20px;
$font-size-icon-small: 16px;

$font-family: "Fira Sans", sans-serif, "Segoe UI Emoji";
