#alphabet #tables {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

#alphabet #tables #letters {
    display: grid;
    gap: 20px;
}

#alphabet .table {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

#alphabet .letter {
    flex-direction: column;
    font-weight: 600;
    align-items: center;
    width: 50px;
    height: 40px;
    margin: 5px;
    line-height: 50%;
}

#alphabet .letter .phoneme {
    font-weight: 400;
    font-size: 12px;
}

#alphabet #details h2 {
    word-spacing: 15px;
    margin-top: 0;
}

#alphabet #details .tags {
    font-size: 14px;
    font-style: italic;
    word-spacing: 10px;
}

#alphabet #details .sample {
    margin: 10px 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #alphabet #tables {
        grid-template-columns: 1fr;
        direction: ltr;
    }
    #alphabet .table {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        margin: -5px;
    }
}
