#converter textarea {
    padding: 10px;
    height: 250px;
}

#converter #options select {
    width: 200px;
}

#converter #options {
    display: flex;
    justify-content: space-between;
}

#converter #file {
    display: none;
}

#converter .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: stretch;
}

#converter .split :nth-child(1) {
    border-radius: 4px 0 0 4px;
}

#converter .split :nth-child(2) {
    border-radius: 0 4px 4px 0;
}

#converter #mapping {
    background-color: var(--nord6);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

#converter #mapping p {
    font-size: 12px;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    #converter .split {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: stretch;
    }
    #converter .split :nth-child(1) {
        border-radius: 4px 4px 0 0;
    }
    #converter .split :nth-child(2) {
        border-radius: 0 0 4px 4px;
    }
    #converter #options {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
    }
    #converter #options>* {
        margin: 5px 0;
    }
}
