#converter textarea {
    padding: 10px;
    height: 250px;
}

#converter #options select {
    width: 200px;
}

#converter #options {
    display: flex;
    justify-content: space-between;
}

#converter #file {
    display: none;
}

#converter .button, select {
    padding: 5px;
    margin: 10px 0;
}

#converter .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: stretch;
}

#converter .split :nth-child(1) {
    border-radius: 5px 0 0 5px;
}

#converter .split :nth-child(2) {
    border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 600px) {
    #converter .split {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: stretch;
    }
    #converter .split :nth-child(1) {
        border-radius: 5px 5px 0 0;
    }
    #converter .split :nth-child(2) {
        border-radius: 0 0 5px 5px;
    }
    #converter #options {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
    }
    #converter #options>* {
        margin: 5px 0;
    }
}
