::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4C566A;
}

::-webkit-scrollbar-thumb:hover {
    background: #2E3440;
}
