* {
    box-sizing: border-box;
    outline: none;
    resize: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: #4C566A;
    border-radius: 5px;
    transition: 0.15s;
    border: 0;
}

button {
    border: 1px solid #0000;
    background-color: #E5E9F0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    user-select: none;
    margin: 10px 0;
}

button:hover {
    border-color: #4C566A;
}

button:active {
    color: #FFF;
    background-color: #4C566A;
}

button:active>* {
    color: #FFF;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

hr {
    height: 2px;
    background-color: #E5E9F0;
}

.section {
    margin: auto auto 50px auto;
    width: 100%;
    max-width: 960px;
}

.link {
    font-weight: bold;
    cursor: pointer;
    color: #5E81AC;
    user-select: none;
    padding: 10px;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #8FBCBB;
}

textarea {
    border: 1px solid #E5E9F0;
    text-align: left;
}

textarea:read-only {
    border-color: #E5E9F0;
    background-color: #E5E9F0;
}

textarea:read-write:hover, textarea:read-write:focus {
    border-color: #4C566A;
}
