@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-ThinItalic.ttf'), url('fonts/FiraSans-Thin.ttf'), url('fonts/FiraSans-SemiBoldItalic.ttf'), url('fonts/FiraSans-SemiBold.ttf'), url('fonts/FiraSans-Regular.ttf'), url('fonts/FiraSans-MediumItalic.ttf'), url('fonts/FiraSans-Medium.ttf'), url('fonts/FiraSans-Light.ttf'), url('fonts/FiraSans-LightItalic.ttf'), url('fonts/FiraSans-Italic.ttf'), url('fonts/FiraSans-ExtraLightItalic.ttf'), url('fonts/FiraSans-ExtraLight.ttf'), url('fonts/FiraSans-ExtraBoldItalic.ttf'), url('fonts/FiraSans-ExtraBold.ttf'), url('fonts/FiraSans-BoldItalic.ttf'), url('fonts/FiraSans-Bold.ttf'), url('fonts/FiraSans-BlackItalic.ttf'), url('fonts/FiraSans-Black.ttf')
}

* {
    box-sizing: border-box;
    outline: none;
    resize: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: #4C566A;
    border-radius: 4px;
    transition: 0.15s;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
}

button, select {
    border: 1px solid #0000;
    background-color: #E5E9F0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    user-select: none;
    margin: 10px 0;
}

button:hover, select:hover {
    border-color: #4C566A;
}

button:active, select:active {
    color: #FFF;
    background-color: #4C566A;
}

button:active>* {
    color: #FFF;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

hr {
    height: 2px;
    background-color: #E5E9F0;
}

.section {
    margin: auto auto 50px auto;
    width: 100%;
    max-width: 960px;
}

.link {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    text-decoration: underline;
}

.link:hover {
    text-decoration-color: #BF616A;
}

.link:active {
    color: #BF616A;
}

textarea {
    border: 1px solid #E5E9F0;
    text-align: left;
}

textarea:read-only {
    border-color: #E5E9F0;
    background-color: #E5E9F0;
}

textarea:read-write:hover, textarea:read-write:focus {
    border-color: #4C566A;
}
